
@{
    ViewBag.Title = "SSS LLP - Production Process";
}
<style>
    .production-process .about-first-sec-div .container {
        background: #f7f7f7;
        padding: 12px;
    }
</style>
<main class="production-process">
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="~/"><i class="fa fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a class="@((ViewBag.ActivePage == "ProductionProcess") ? "active" : "")" href="~/ProductionProcess">Our Production Process</a></li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->

    <div class="text-center my-5">
        <h2 class="fw-bold text-center title_hr">PRODUCTION PROCESS</h2>
    </div>

    <section class="about-first-sec-div my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="about-contain-div padding-right-div">
                        <div class="bullet-div mt-4 mb-4">
                            <ul>
                                <li>Step 1: Yarn Inwards</li>
                            </ul>
                        </div>
                        <p class="common-para"><strong>1.1 Receive the yarn shipment:</strong> Inspect the packaging for any signs of damage or tampering.Unload and store the yarn in a designated area of the warehouse.</p>
                        <p class="common-para">
                            <strong>1.2 Check for quality and quantity:</strong>Visually examine the yarn for defects like knots, tangles, or irregularities in color or texture.
                            Conduct a thorough inspection of the entire yarn batch to ensure quality meets standards.
                        </p>
                        <p class="common-para">
                            <strong>1.3 Verify the specifications of the yarn:</strong>Refer to accompanying documents to confirm fiber content, yarn count, and color.
                            Ensure the fiber content aligns with the intended material.
                            Match the yarn count to the required specifications.
                            Verify the color matches the intended shade or dye lot.
                        </p>
                        <p class="common-para">
                            <strong>1.4 Update the inventory system:</strong>Use inventory management software to record received yarn details.
                            Enter yarn type, quantity, fiber content, yarn count, color, and other attributes.
                        </p>
                        <p class="common-para">
                            <strong>1.5 Store the yarn properly:</strong>Organize the yarn by grouping similar types or colors together.
                            Store the yarn in a clean, dry, and well-ventilated area.
                        </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="about-right-div border-remove wow zoomIn animated animated" data-wow-delay=".6s" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: zoomIn;">
                        <img src="~/Content/assets/Images/Machines/factory1.jpeg" class="img-fluid" />
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="about-first-sec-div my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="about-right-div border-remove wow zoomIn animated animated" data-wow-delay=".6s" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: zoomIn;">
                        <img src="~/Content/assets/Images/Machines/sulzerloom-double.jpeg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="about-contain-div padding-right-div">
                        <div class="bullet-div mt-4 mb-4">
                            <ul>
                                <li>Step 2: Making of Loom Card According to Program</li>
                            </ul>
                        </div>
                        <p class="common-para">Prepare the loom card based on the program specifications.</p>
                        <p class="common-para">Include information such as warp and weft yarn details, fabric design, and any special instructions.</p>
                        <p class="common-para">Ensure accurate documentation and labeling of the loom card for easy identification.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about-first-sec-div my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="about-contain-div padding-right-div">
                        <div class="bullet-div mt-4 mb-4">
                            <ul>
                                <li>Step 3: Warping</li>
                            </ul>
                        </div>
                        <p class="common-para">Set up the warping machine with the required warp yarn.</p>
                        <p class="common-para">Load the loom card onto the warping machine, ensuring alignment with the specified design.</p>
                        <p class="common-para">Start the warping process, carefully winding the warp yarn onto the warping beam.</p>
                        <p class="common-para">Regularly monitor the warping process to detect and rectify any issues.</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="about-right-div border-remove wow zoomIn animated animated" data-wow-delay=".6s" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: zoomIn;">
                        <img src="~/Content/assets/Images/Machines/warping1.jpeg" class="img-fluid" />
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="about-first-sec-div my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="about-right-div border-remove wow zoomIn animated animated" data-wow-delay=".6s" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: zoomIn;">
                        <img src="~/Content/assets/Images/Machines/Drawing.jpeg" class="img-fluid" />
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="about-contain-div padding-right-div">
                        <div class="bullet-div mt-4 mb-4">
                            <ul>
                                <li>Step 4: Drawing</li>
                            </ul>
                        </div>
                        <p class="common-para">Transfer the warped program to the drawing machine.</p>
                        <p class="common-para">Align the warp yarn and pass it through the drawing machine.</p>
                        <p class="common-para">The drawing process involves parallelizing and aligning the warp yarn to ensure uniform tension and spacing.</p>
                        <p class="common-para">Continuously inspect the drawn program for any defects and make necessary adjustments.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="about-first-sec-div my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="about-contain-div padding-right-div">
                        <div class="bullet-div mt-4 mb-4">
                            <ul>
                                <li>Step 5: Loom Operation for Grey Fabric</li>
                            </ul>
                        </div>
                        <p class="common-para">Mount the drawn program onto the loom.</p>
                        <p class="common-para">Ensure proper alignment and tension of the warp yarn.</p>
                        <p class="common-para">Start the loom and monitor the weaving process to create the grey fabric.</p>
                        <p class="common-para">Conduct regular quality checks during weaving to identify and address any weaving defects promptly.</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="about-right-div border-remove wow zoomIn animated animated" data-wow-delay=".6s" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: zoomIn;">
                        <img src="~/Content/assets/Images/Machines/Grey checking1.jpeg" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about-first-sec-div my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="about-right-div border-remove wow zoomIn animated animated" data-wow-delay=".6s" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: zoomIn;">
                        <img src="~/Content/assets/Images/Machines/folding.jpeg" class="img-fluid" />
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="about-contain-div padding-right-div">
                        <div class="bullet-div mt-4 mb-4">
                            <ul>
                                <li>Step 6: Grey Fabric Inspection and Folding</li>
                            </ul>
                        </div>
                        <p class="common-para">Once the grey fabric is woven, transfer it to the mending and inspection area.</p>
                        <p class="common-para">Inspect the grey fabric for any weaving defects, such as broken threads or uneven patterns.</p>
                        <p class="common-para">Mend any identified defects using appropriate techniques and tools.</p>
                        <p class="common-para">Perform a final quality check to ensure the grey fabric meets the desired standards.</p>
                        <p class="common-para">Fold the grey fabric neatly and prepare it for the next stage of processing.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="about-first-sec-div my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="about-contain-div padding-right-div">
                        <div class="bullet-div mt-4 mb-4">
                            <ul>
                                <li>Step 7: Conversion to Finished Fabric at Process House</li>
                            </ul>
                        </div>
                        <p class="common-para">Transport the grey fabric to the process house.</p>
                        <p class="common-para">Provide the process house with detailed instructions for the desired finish fabric.</p>
                        <p class="common-para">The process house will perform various treatments, such as dyeing, printing, or finishing, as per the specifications.</p>
                        <p class="common-para">Regularly communicate with the process house to track the progress and ensure adherence to quality standards.</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="about-right-div border-remove wow zoomIn animated animated" data-wow-delay=".6s" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: zoomIn;">
                        <img src="~/Content/assets/Images/Machines/stock1.jpeg" class="img-fluid" />
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="about-first-sec-div my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="about-right-div border-remove wow zoomIn animated animated" data-wow-delay=".6s" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: zoomIn;">
                        <img src="~/Content/assets/Images/Machines/stock2.jpeg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="about-contain-div padding-right-div">
                        <div class="bullet-div mt-4 mb-4">
                            <ul>
                                <li>Step 8: Grading of Finished Fabric</li>
                            </ul>
                        </div>
                        <p class="common-para">Once the finished fabric is received from the process house, conduct a thorough inspection.</p>
                        <p class="common-para">Check the fabric for color, design, texture, and any other specified parameters.</p>
                        <p class="common-para">Grade the fabric based on quality and categorize it accordingly.</p>
                        <p class="common-para">Update the inventory system with the graded fabric details for accurate tracking and management.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>


